<h1>Hello world from hello!</h1>

<!-- Processes and executes the Ruby code but does not output -->
<% 1 + 1 %> 

<!-- Executes the Ruby code and returns the result to the template -->
<%= 2 + 2 %> <br />
<!-- Both versions does not show the code from the browser 
	when the user inspecting the template html -->

<% target = "world" %>
<%= "Hello #{target}" %>
<br />

<!-- Prints to the console rather than view template -->
<%
3.times do |n|
	puts n  
end
%>
<br />
<!-- Prints the result of each loop to the view template -->
<% 3.times do |n| %>
<%= n %> <br />
<% end %>
<br />
<!-- Rails will instantiate the controller object and the instance 
variable in the object is passed to the rendered view -->
<% @array.each do |n| %>
<%= n %>
<% end %>
<br />
<!-- Added a link to index page -->
<%= link_to("Index page", {:action => 'index'}) %><br />

<!-- When hello page is readhed from root route's 
	Hello page 1 or 2, params array is not loaded correctly -->
ID:<%=params[:id]%><br />
ID:<%=params['id']%><br />
Page:<%=params[:page]%><br />
<!-- params[] array always contains strings -->
Next Page:<%=params[:page].to_i + 1%><br />
Next Page:<%=@page.to_i + 1%><br />